main {
    margin-top: 10%;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(211, 211, 211);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333;
}
main p {
    margin: 10px 0;
    color: #666;
}
.contact-info {
    margin-top: 20px;
}
.contact-info p {
    margin: 5px 0;
}
.contact-info a {
    color: #007BFF;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
    color:#FF4E00;
}
.social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.social-links li {
    display: inline;
    margin-right: 10px;
}
.social-links a {
    color: #007BFF;
    text-decoration: none;
}
.social-links a:hover {
    text-decoration: underline;
}
