
nav {
    margin-top: 1%;
    
    background-color: rgba(18, 16, 16, 0.26) !important;
    backdrop-filter: blur(10px) !important;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    border-radius: 25px;
    backdrop-filter: blur(10px) !important;
    
    
}

nav li a:hover {
    color: #FF4E00 !important;
    text-decoration: underline;
}

nav li a{
    text-decoration: none;
    font-size: 20px !important;
}

.middle{
    justify-content: center;
}